

.modal-body {
    display: flex;
    border: 1px solid black;
}

.modal-body.bottom {
flex-direction: column;
}

.modal-body-text {
    padding: 10px;

}
.bottom .modal-body-text {
    padding-bottom: 0px;

}

.modal-body-buttons{
    display: flex;
    align-items: last baseline;

    padding: 10px;
}
.bottom .modal-body-buttons{
    justify-content: space-between;
    align-items: normal;
    padding:5px;
}
.modal-body-buttons button{
    margin: 5px;
    color:#eee;
    font-weight: bold;
    border: 1px solid #eee;
}



.yes-button{
    background-color: green;
}

.no-button{
    background-color: red;
}

.yes-button:hover{
    background-color: #eee;
    color: green;
    border-color: green;
}

.no-button:hover{
    background-color: #eee;
    color: red;
    border-color: red;
}