.App {
  max-width: 480px;
  /* background-color: lightskyblue; */
}

/* .test{
  color:grey;
}

div[class^="ModalConfirm_leftIcon"]{
  color:green;
}
div[class^="ModalConfirm_rightIcon"]{
  color:red;
} */
